/* ************************** */
/* Affects the game debug DOM */
/* ************************** */

/* The main debug div */
#DEBUG_DIV {
	vertical-align: top;
	width: 500px;
	height: 480px;
	text-align: left;
	overflow: auto;
}
#DEBUG_DIV.hidden {
	display:none;
}

#DEBUG_DIV.notActive{
	opacity:0.50;
}

/* debug div menu/panels */
#DEBUG_DIV #DEBUG_DIV_MENU {
	text-align: center;
}
#DEBUG_DIV .debugPanelButtons {
	display: inline-block;
	width: 85px;
	margin: 2px;
	background-color: deepskyblue;
	border-radius: 5px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
}
#DEBUG_DIV .debugPanelButtons:hover { background-color:blue;}
#DEBUG_DIV .debugPanelButtons:active{ background-color:skyblue;}
#DEBUG_DIV .debugPanelButtons.active{ background-color:greenyellow;}
#DEBUG_DIV #DEBUG_DIV_MENU_DIVS .DEBUG_DIV_MENU_DIVS{
	display:none;
}
#DEBUG_DIV #DEBUG_DIV_MENU_DIVS .DEBUG_DIV_MENU_DIVS.active{
	display:block;
}

/* debug div tables */
#DEBUG_DIV .debugTable1{width: 100%;border-collapse: collapse;border-top: 2px dotted black;border-bottom: 2px dotted black;}
#DEBUG_DIV .debugTable1 caption{width:100%;}
#DEBUG_DIV .debugTable1 th{ text-decoration:underline; font-weight:bold; text-align:center; }
#DEBUG_DIV .debugTable1 td{ text-align:center; }

#DEBUG_DIV .debugTable2{width:100%;border-collapse: collapse;}
#DEBUG_DIV .debugTable2 caption{width:100%;}
#DEBUG_DIV .debugTable2 th{ text-decoration:underline; font-weight:bold; text-align:left; }
#DEBUG_DIV .debugTable2 td:nth-child(1){width:25%;text-align:left;vertical-align: top;}
#DEBUG_DIV .debugTable2 td:nth-child(2){ width:75%; text-align:left; }

/* debug div - individual elements */
#DEBUG_DIV #DEBUG_DIV_MENU_DIVS .DEBUG_DIV_MENU_DIVS.active button{
	font-size: 12px;
	margin:2px;
	padding:2px;
}
textarea#debug_gameVars {
    width: 100%;
    height: 39em;
    overflow: scroll;
    white-space: pre;
    font-family: monospace;
    font-size: 10px;
    color: gainsboro;
    background-color: black;
}
